.header {
	position: relative;
	/*height: 157px;*/
	background-image: url("../images/bg.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	z-index: 999;
	background-repeat: round;
}

.header .head {
	position: relative;

}

.header .multilang-wrapper {
	position:relative;
	height: 80px;
	margin-right: 0px;
}

.header .multilang {
	position: absolute;
	text-align: right;
	bottom:20px;
	right: 30px;
}

.header .multilang .selected {
	color: black !important;
}

.header .logo {
	color: blue;
	display: inline-block;
	padding: 20px;

	padding-top: 10px;
	padding-bottom: 0px;

}


.header .title {
	text-align: center;
	padding: 20px;

	padding-top:30px;

}



.header .search {
	position: absolute;
	right: 11px;
	top: 66px;
	border: 1px #003366 solid;
}

.header .search button {
	float: right;
	background-color: #003366 !important;
	color: white;
}

/*---------------- NAVIGATION ----------------------*/

.header .navigation {
	/*position: absolute;*/
	bottom: 0px;
	left: 0px;
	width: 100%;
	/*height: 54px;*/
	background-color: #003366;
	text-decoration: none;

}

.header .navigation a:hover {
	text-decoration: none !important;
}

.header .menu-toggle-wrapper {
	text-align: right;
	background-color: #003366;
	/*margin: 10px;*/
	padding: 2px;
}

.header .menu-toggle {
	display: none;
	text-align: right;
	cursor: pointer;
	color: #2b2b2b;
	font-size: 20px;
	padding:5px;
	position: static;
	top: 25px;
	right: 35px;
	/*background: rgb(13, 109, 159);*/
	background-color: white;
	border: 1px #a0a0a0 solid;
	border-radius: 2px 2px 2px 2px;
}

.header .menu-toggle.show {
	display: block;
}

.header .menu-toggle.fixed {
	position: fixed;
}

.header .screen-mask {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
	top: 0px;
	left: 0px;
}

.header .hide-menu {
	display: none;
}

.header .navigation-container{
	margin-left: 8%;
	height: 100%;
	margin-right: 8%;
}



.header .nav {
	position: relative;
	float:left;
	/*border: 1px black solid;*/
	/*display: inline-block;*/

	min-width: 14.8%;

}
.header .icon {
	display: inline-block;
	width: 10px;
	vertical-align: top;
}

.header .name {
	display: inline-block;
	width: 160px;
}
.header .name span {
	display: inline-block;
}

.header .home-nav {
	min-width: initial;
	width: auto;
}

.header .nav a {
	display: block;
	color: #fafafa !important;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;

	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 17px;
}
.header .nav:hover {
	background: #1a252f;
}
.header .nav:hover>a {
	color:#cacaca !important;
}
.header .home-nav {
	/*width: 15%;*/
}

.header .nav .down-triangle {
	color: #a7a7a7;
	font-size: 12px;
	font-style: bold;
}

.header .bulkhead {
	float:left;
	display: inline-block;
	width: 0px;
	height: 100%;
	padding-top: 5px;

}

.header .bulkhead::before {
	display: block;
	content: "";
	width: 1px;
	height: 45px;
	background-color: rgba(102, 102, 102, 0.38);

}

.header .nav:hover .down-triangle {
	color:  #003366;
}

.header .nav:hover .sub-navigation {
	display: block;
}

.header .sub-navigation {
	display: none;
	top: 50px;
	left: 0px;
	position: absolute;
	background-color:  #003366;
	padding: 0px;
	width: 200px;
	border: 1px #00274e solid;
}

.header .sub-navigation .nav {
	display: block;
	width: 100%;
	border-bottom: 1px rgba(113, 113, 113, 0.3) solid;
}
.header .sub-navigation .nav a {
	text-align: left;
	font-size: 14px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 15px;
	color: #b9b9b9 !important;

}




@media screen and (max-width: 990px){


	.header {

	}

/*	.header .head {
		zoom:0.8;
	}
*/
	.header .logo {
		zoom:0.8;
	}

	.header .title {
		zoom:0.8;
	}


	.header .navigation {
		display: none;
		position: fixed;
		top: 1px;
		left: auto;
		right: 0px;
		height: auto;
		width: 200px;
		z-index: 999;
		overflow: auto;
		padding-top: 30px;

	}

	.header .navigation-container {
	margin: 0px;

	}


	.header .search {
		position: static;
		display: none;
	}



	.header .menu-toggle {
		display: inline-block;
	}

	.header .hide-menu {
		display: block;
		color: white;
		height: auto;
		font-size: 20px;
		text-align: center;
		position: absolute;
		bottom: 0px;
		top: auto;
		padding-bottom: 28px;
		width: 100%;

	}

	.header .nav {
		display: block;
		clear: both;
		width: 100%;
		height: auto;
	}

	.header .nav .sub-navigation {
		position: initial;
		border: none;
	}

	.header .bulkhead {
		display: block;
		clear: both;
		width: 100%;;;
		padding: 0px;
		height: auto;
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.header .bulkhead::before {
		width: 80%;
		height: 1px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}


@media screen and (max-width: 770px){

	/*.header .head {
		zoom:0.5;
	}*/

	.header .logo {
		zoom:0.6;
	}

	.header .title {
		zoom:0.6;
	}

	.header .multilang {
		zoom:0.8;
	}

}
