section{
	padding-top	: 40px;

}
.section-title{
    color: #cc3300 !important;
    font-size: 28px;
    margin: 5px;
}
.devide-line{
  margin: 2px;
  background-color: #333;
  height: 1px;
}

#intro{
}
.devide-line{

}
.intro-descript{
  font-size: 16px;
}


#department-banner{
	display: table;
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}
#department-banner .banner-title-wrapper{
	display: table-cell;
	vertical-align: middle;
}

.banner-title-wrapper .banner-title{
	color: white;
	font-size: 	50px;
	font-weight: 700;
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	text-shadow: 1px 1px 1px #000;
}


#services{
}
.service-list{
	padding: 10px;
}

.service-list .col-sm-6 {
	padding: 4px;
}
.service-list .service-item{
	height: 250px;
	width: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

}
.service-item .service-item-overlay{
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #003466;
	opacity: 0.5;
}

.service-item .service-text{
	position: absolute;
	text-transform: uppercase;
	color: white;
	top: 35%;
	font-size: 30px;
	width: 100%;
	margin: auto;
	text-align: center;

}
.service-item .service-text{
}



#news{

}
#news .col-sm-6 .thumbnail{
	border-radius: 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

}
.news-item .thumbnail{
	padding: 5% 10%;
}

.section-news-title{
	text-transform: uppercase;
	color: #cc3300 !important;
	text-align: center;
}
.news-latest-box .thumbnail{
	padding: 5% 10%;
}
.news-latest-box h4{
	color: #cc3300 !important;
	text-decoration: underline;
}
.news-latest-box .news-latest-list{
	list-style: none;
	padding: 0;
}
.news-latest-list a{
	color: #333;
}
