section{
	padding: 40px 0;

}
.section-title{
    color: #cc3300 !important;
    font-size: 28px;
    margin: 5px;
}
.devide-line{
  margin: 2px;
  background-color: #333;
  height: 1px;
}

#intro{
}
.devide-line{

}
.intro-descript{
  font-size: 16px;
}
#show-more{
  font-size: 22px;
}
.marketing-list{
  text-align: center;
}
.marketing-list .marketing-list-item{
  margin-bottom: 20px;
}
.marketing-list .marketing-list-item .marketing-list-item-photo{
  width: 200px;
}

.marketing-list .marketing-list-item .marketing-list-item-title{
  font-size: 18px;
  max-width: 300px;
  margin: 0 auto;
  color: #003366 !important;
}


#services{}
.service-list{}
.service-list-item{
  display: flex;
  text-align: center;
  height: 200px;
}
.service-list-item .service-list-item-wrapper{
  width: 300px;

}

.service-list-item .service-list-item-photo{
    width: 100%;
}
.service-list-item .service-list-item-title{
  font-size: 28px;
  text-transform: uppercase;
  margin: 20px 0;
  line-height: 40px;

}
